# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendor
vendor/*
exp*/vendor*

# OS-specific
.DS_Store
exp*/.DS_Store

# Binary, trace files, results
exp*/exp*
exp*/output/*
exp*/trace/*.csv